.character__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 16px;
}

.character__list-item {
  width: 172.5px;
  height: 245.97px;
  background-color: var(--color-black);
}

@media (min-width: 1512px) {
  .character__list-item {
    width: 188.57px;
  }
}
