:root {
  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #aaa;
  --color-gray-light: #d9d9d9;
  --color-red: #ec1d24;

  /* Font */
  --font-family-base: Roboto Condensed, system-ui, Arial, sans-serif;
  --font-weight-base: 400;
  --font-size-base: 16px;

  --line-height-base: 1;
  --text-color-base: var(--color-black);
  --container-max-width: 1416px;
  --container-margin: 16px;
  --min-width: 425px;
  --header-height: 84px;
}
