.loading-bar {
  width: 100%;
  height: 8px;
  background-color: transparent;
  position: absolute;
  bottom: -9px;
  overflow: hidden;
  animation: width-animation 2s linear infinite;
}

.loading-bar--active {
  background-color: var(--color-red);
}

.loading-bar__progress {
  width: 0;
  height: 100%;
  background-color: var(--color-red);
  transition: width 0.3s ease;
  animation: width-animation 2s linear infinite;
}

.loading-bar--active .loading-bar__progress {
  width: 100%;
}

@keyframes width-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
