.loading-bar {
  width: 100%;
  height: 5.8px;
  position: absolute;
  bottom: -7px;
  overflow: hidden;
  z-index: 1;
  background: linear-gradient(var(--color-red) 0 0) left/0% 100% no-repeat
    var(--color-white);
  animation: progress-animation 2s infinite linear;
}

@keyframes progress-animation {
  100% {
    background-size: 100% 100%;
  }
}
