.carousel-comics {
  overflow-x: auto;
  width: 100%;
  padding: 0 0 24px;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel-comics__list {
  display: flex;
  gap: 16px;
  scroll-snap-type: x mandatory;
}

.carousel-comics__list-item {
  display: inline-block;
  flex: 0 0 auto;
  scroll-snap-align: start;
  max-width: 179.2px;
}

.carousel-comics__cover {
  width: 179.2px;
  height: 268.8px;
  object-fit: cover;
}

.carousel-comics__footer {
  text-wrap: wrap;
}

.carousel-comics__name {
  font-size: 16px;
  font-weight: 500;
}

.carousel-comics__year {
  font-size: 14px;
  margin: 8px 0 0;
}

.carousel-comics::-webkit-scrollbar {
  height: 4px;
}

.carousel-comics::-webkit-scrollbar-thumb {
  background: var(--color-red);
}

.carousel-comics::-webkit-scrollbar-thumb:hover {
  background: var(--color-red);
}

.carousel-comics::-webkit-scrollbar-track {
  background: var(--color-gray-light);
}
